.footer {
   padding: 45px 0;
}

.footer__items {
   display: flex;
   justify-content: center;
   align-items: center;
   column-gap: 50px;
   row-gap: 10px;
}

@media (max-width:767.98px) {
   .footer {
      padding: 25px 0;
   }
}

@media (max-width:500px) {
   .footer__items {
      flex-direction: column;
   }
}