body {
   font-family: Rubik;
   font-size: 12px;
   line-height: 138%;
   color: #616161;
}

.lock {
   overflow: hidden;
}

.wrapper {
   min-height: 100%;
   display: flex;
   flex-direction: column;
   overflow: clip;
}

.main {
   flex: 1 1 auto;
}

[class*="__container"] {
   max-width: 1085px;
   margin: 0 auto;
   padding: 0px 15px;
}

/* __________Адаптивна Сітка___________ */

/* PC */
@media (max-width:1084.98px) {
   [class*="__container"] {
      max-width: 970px;
   }
}

/* TABLET */
@media (max-width:990.98px) {
   [class*="__container"] {
      max-width: 750px;
   }
}

/* MOBILE */
@media (max-width:767.98px) {
   [class*="__container"] {
      max-width: none;
   }
}

/* MOBILE SMALL */
@media (max-width:479.98px) {}

/* _____Загальний блок_____ */
.block-body__title {
   font-weight: 700;
   font-size: 44px;
   line-height: 125%;
   color: #000;
}

.block-body__title:not(:last-child) {
   margin-bottom: 12px;
}

.block-body__text:not(:last-child) {
   margin-bottom: 24px;
}

@media (max-width:767.98px) {
   .block-body__title {
      font-size: 34px;
   }
}

/* _____Загальні стилі_____ */

.block-body__text-mw {
   max-width: 600px;
   margin: 0 auto;
}

.button {
   display: inline-block;
   padding: 14px 30px;
   border-radius: 5px;
   text-transform: uppercase;
   font-weight: 800;
   font-size: 10px;
   line-height: 120%;
   /* 12/10 */
   letter-spacing: 1.5px;
   color: #fcfdfe;
}

@media (max-width:767.98px) {
   .button {
      padding: 14px 20px;
   }
}

.button-red {
   background: #ec5863;
}

.span-red {
   color: #ec5863;
}