/*__________Блок, який буде перевикористаний___________*/

.header-block {
   text-align: center;
}

.header-block__title {
   font-size: 40px;
   font-weight: 700;
   line-height: 1.42;
   /* 57/40 */
   letter-spacing: 0.2px;
}

.header-block__title:not(:last-child) {
   margin: 0px 0px 10px 0px;
}

.header__sub-title {
   line-height: 1.42;
   /* 57/40 */
   letter-spacing: 0.2px;
   color: #737373;
}

@media (max-width: 992px) {
   .header-block__title {
      font-size: 35px;
   }
}

@media (max-width: 767px) {
   .header-block__title {
      font-size: 30px;
   }
}

/*___________________________________________________*/

.advantages {
   padding: 80px 0;
}

.advantages__header {
   margin: 0px 0px 50px 0px;
}

.advantages__body {
   display: flex;
   flex-wrap: wrap;
   margin: 0 -19px -30px;
}

.advantages__column {
   flex: 0 1 25%;
   padding: 0 19px;
   margin: 0px 0px 30px 0px;
}

.advantages__item {
   background-color: #fff;
   height: 100%;
   padding: 30px;
   text-align: center;
   font-weight: bold;
}

.item-advantages>*:not(:last-child) {
   margin: 0px 0px 10px 0px;
}

.item-advantages__icon {
   height: 48px;
   display: flex;
   align-items: flex-end;
   justify-content: center;
}

.item-advantages__value {
   font-size: 40px;
   line-height: 1.4;
   /* 57/40 */
   letter-spacing: 0.2px;
}

.item-advantages__text {
   font-size: 16px;
   line-height: 1.5;
   /* 24/16 */
   color: #737373;
}

@media (max-width: 1020px) {
   .advantages__column {
      flex: 0 1 50%;
   }
}

@media (max-width: 992px) {
   .advantages {
      padding: 50px 0;
   }
}

@media (max-width: 767px) {
   .advantages {
      padding: 40px 0;
   }

   .advantages__header {
      margin: 0px 0px 25px 0px;
   }
}

@media (max-width: 560px) {
   .advantages__column {
      flex: 0 1 100%;
   }
}