/* __________FOOTER__TOP___________ */

.footer__top {
   background: #17213C;
   padding: 35px 0;
}

.footer__row {
   display: flex;
   flex-wrap: wrap;
   margin: 0 -15px;
}

.footer__column {
   flex: 0 1 16.6667%;
   padding: 15px 15px;
}

.footer__column:last-child {
   flex: 0 1 33.334%;
}

.footer__label {
   font-weight: 700;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.1px;
   color: #fff;
   margin: 0px 0px 20px 0px;
}

.menu-footer__item:not(:last-child) {
   margin: 0px 0px 10px 0px;
}

.menu-footer__link {
   font-weight: 600;
   display: inline-block;
   line-height: 1.7;
   /* 24/14 */
   color: #fff;
}

.menu-footer__link:hover {
   text-decoration: underline;
}

@media (max-width:992px) {
   .footer__column {
      flex: 0 1 25%;
   }

   .footer__column:last-child {
      flex: 1 1 100%;
   }
}

@media (max-width:790px) {
   .footer__column {
      flex: 0 1 50%;
   }
}

/* _________________________________ */

.contacts-footer {
   display: flex;
   flex-direction: column;
}

.contacts-footer__item {
   padding: 0px 0px 0px 34px;
   display: flex;
   align-items: center;
   min-height: 30px;
   line-height: 1.4;
   color: #fff;
}

.contacts-footer__item:hover {
   text-decoration: underline;
}

.contacts-footer__item:not(:last-child) {
   margin: 0px 0px 15px 0px;
}

.contacts-footer__item_phone {
   background: url('../img/footer/icons/01.svg') 0 0 no-repeat;
}

.contacts-footer__item_map {
   background: url('../img/footer/icons/02.svg') 0 0 no-repeat;
}

.contacts-footer__item_email {
   background: url('../img/footer/icons/03.svg') 0 0 no-repeat;
}

/* __________FOOTER__BOTTOM___________ */

.footer__bottom {
   background-color: #fff;
   padding: 25px 0;
}

.footer__body {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.footer__copy {
   font-weight: 600;
   line-height: 1.7;
   color: #737373;
}

.social {
   display: flex;
   align-items: center;
}

.social__item {
   display: inline-block;
}

.social__item:not(:last-child) {
   margin: 0px 20px 0px 0px;
}

@media (max-width:767px) {
   .footer__body {
      flex-direction: column;
   }

   .footer__copy {
      margin: 0px 0px 15px 0px;
      text-align: center;
   }
}