.getintouch {
   padding: 80px 0px 135px 0px;
}

.getintouch__header {
   margin: 0px 0px 80px 0px;
}

.getintouch__items {
   margin: 0 -15px;
}

.getintouch__item {
   flex: 0 1 33.333%
}

.item-getintouch {
   background-color: #fff;
   padding: 50px 40px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.item-getintouch_active {
   background: #252B42;
   padding: 80px 40px;
   color: #fff;
}

.item-getintouch_active .item-getintouch__button {
   border: 1px solid #fff;
   color: #fff;
}

.item-getintouch>*:not(:last-child) {
   margin: 0px 0px 15px 0px;
}

.item-getintouch__emails {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.item-getintouch__email {
   font-weight: 600;
   line-height: 1.7;
   /* 24/14 */
   color: inherit;
}

.item-getintouch__email:hover {
   text-decoration: underline;
}

.item-getintouch__label {
   font-weight: 700;
   font-size: 16px;
   line-height: 1.5;
}

.item-getintouch__button {
   border: 1px solid #FF7B47;
   border-radius: 5px;
   font-weight: 600;
   min-height: 44px;
   display: flex;
   justify-content: center;
   align-items: center;
   line-height: 1.4;
   padding: 5px 20px;
   color: #FF7B47;
   transition: all 0.3s ease 0s;
}

.item-getintouch__button:hover {
   border: 1px solid #FF7B47;
   background-color: #FF7B47;
   color: #fff;
}

@media (min-width: 992px) {
   .getintouch__items {
      margin: 0;
      display: flex;
      align-items: center;
   }
}

@media (max-width: 992px) {
   .getintouch {
      padding: 50px 0;
   }

   .getintouch__header {
      margin: 0px 0px 50px 0px;
   }

   .item-getintouch_active {
      padding: 50px 15px;
   }
}

@media (max-width: 767px) {
   .getintouch__header {
      margin: 0px 0px 30px 0px;
   }
}